/* Welcome.module.css */
.welcome {
  flex: 1; /* Make Welcome component occupy half the available space */
  display: flex;
  flex-direction: column; /* Stack content vertically within Welcome */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  padding: 1rem;
  border: 1px solid #ddd;
  margin: 0.5rem;
  border-radius: 4px;
}

.welcome h1,
.welcome h4,
.welcome img {
  margin: 0.5rem 0; /* Add some margin between elements */
}

.welcome img {
  width: 200px;
  padding-left: 500px;
}
